@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/**********************INDEX PAGE***********************/
* {
    margin: 0;
    transition: all .2s ease;
  }
  
  html {
    scroll-behavior: smooth;
    cursor: default;
  }
  
  .row {
    margin-right: 0;
  }

  body {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: gray;
    -webkit-font-smoothing: antialiased;
    background-color: #051F20;
  }

  /*FIRST NAVBAR*/
  #profile-image {
    cursor: default;
    border: 2px solid rgba(167, 130, 149, 0.3);
  }
    #profile-image:hover {
      backface-visibility: visible !important;
        animation: flip 1s ease;
    }

    .navbar-toggler {
      border: none;
    }
    .navbar-toggler:focus {
      box-shadow: none;
    }
    #navbar-item { /*about and projects link*/
        font-size: 1.1em;
        font-weight: bold;
    }

    #navbar-item a {
      text-decoration: none;
      outline: none;
      color: gray;
    }
  
    #navbar-item a:hover {
      color: #4D734C
    }

  /*CONTACT*/
  #icons-col a, img {
    text-decoration: none;
    outline: none;
    color: gray;
  }

  #icons-col a:hover {
    color: #4D734C
  }

  /*INTRO*/
  /*animate intro-hello and intro-name*/
  .intro {
    padding: 5vh;
    background-color: #051F20;
    color: gray;
  }
  .intro p {
    padding-top: 1vh;
  }

  /*SECTIONS*/
  .sections {
    box-sizing: border-box;
    padding-left: 5vh;
    padding-right: 5vh;
  }

  /*EXPERTISE*/
  #expertise-cards button {
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 2vh;
    color: gray;
    display: inline-flex;
    transition: all .2s var(--transition-ease);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: default;
    min-width: 15vh;
  }

  #expertise-cards button:hover {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
  }

  #expertise-text {
    margin: 2vh;
  }

  #expertise-text h4 {
    color: #4D734C;
  }

  /*EXPERIENCE*/
  .tab-container {
    padding: 0.01em 16px
  }

  .tab-fourth {
    float:left;
    width:100%
  }

  .tab-bottombar{
    border-bottom:2px solid #ccc!important
  }

  .tab-hover-light-grey:hover,.tab-light-gray,.tab-hover-light-gray:hover{
    color: white;
    background-color:#4D734C!important
  }

  tab-row:after,.tab-row:before,.tab-row-padding:after,.tab-row-padding:before,
  .tab-cell-row:before,.tab-cell-row:after,.tab-clear:after,.tab-clear:before,.tab-bar:before,.tab-bar:after{
    content:"";
    display:table;
    clear:both
  }

  .tab-row a {
    color: gray;
  }

  .tab-border-highlight,.tab-hover-border-highlight:hover{
    border-color: #4D734C!important
  }

  .tab-container h4 {
    color: #4D734C;
    margin-top: 2vh;
  }

  /*pill button for skills*/
  .pill-button {
    background-color: transparent;
    border: 2px solid gray;
    color: gray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
    cursor: default;
    transition: all .2s var(--transition-ease);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .pill-button:hover {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
  }

  .tab-container.tabs {
    padding: 2vh;
  }
  
  .sections p {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /*PROJECTS*/
  .project-cards {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 2vh;
  }

  .project-cards-row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .projects-ind-cards {
    box-sizing: border-box;
    min-width: 200px;
    background-color: #051F20;
    border: 2px solid gray;
    color: gray;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 16px;
    cursor: default;
    transition: all .2s var(--transition-ease);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 33.333%;
  }

  .projects-ind-cards:hover {
    background-color: #051a1a;
  }

  .projects-ind-cards img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 20vh;
  }

  .projects-ind-cards h4 {
    color: #4D734C;
    margin: 0;
  }

  /*FOOTER*/
  #footer {
    background-color: #051F20;
  }
  
  .footer-section {
    color: gray;
    padding-top: 10vh;
    padding-bottom: 1vh;
    text-align: center;
    margin: 0;
  }
  
  /*ANIMATION*/
  @keyframes flip {
      0% {
          transform: perspective(400px) rotateY(0);
          animation-timing-function: ease-out;
      }
      40% {
          transform: perspective(400px) translateZ(150px) rotateY(170deg);
          animation-timing-function: ease-out;
      }
      50% {
          transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
          animation-timing-function: ease-in;
      }
      80% {
          transform: perspective(400px) rotateY(360deg) scale(.95);
          animation-timing-function: ease-in;
      }
      100% {
          transform: perspective(400px) scale(1);
          animation-timing-function: ease-in;
      }
  }
  
  @keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
  }
  
  /*MEDIA*/
  @media (max-width: 600px)  {
    .project-cards {
      display: block;
    }
  }

  @media (max-width: 750px)  {
    .project-cards-row {
      margin: 0;
      padding: 0;
      overflow-x: show;
    }

    .project-cards-row {
      display: block;
      width: 100%;
    }

    .projects-ind-cards {
        width: 100%;
    }
  }
  
  @media (min-width: 600px)  {
    .tab-fourth {
      width:25%;
    }
  }
  