@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Makasar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}



/* NAVBAR */

.navbar {
    display: inline-flex;
    width: 100%;
}

.navbar a {
    font-family: 'Tektur', cursive;
    padding: 1.5vh;
    font-size: 1.8em;
    color: darkblue;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #D8BFD8;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .navbar a {
        font-size: 1.3em;
        padding: 1vh;
        text-align: center;
        border: 1px solid darkblue;
    }
}

.header {
    background-attachment: fixed;
    background-image: url(/assets/background/header-background-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 15vh;

    text-align: center;
    font-size: 5em;
    color: white;
    font-family: 'Ysabeau SC', sans-serif;
    cursor: default;
}

@media only screen and (max-width: 600px) {
    .header {
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        font-size: 3em;
    }
}

/* FOOTER */

footer {
    background-color: #2e4051;
    position: relative;
    display: flex;
}

.footer-contents {
    height: 19vh;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.copyright {
    color: white;
    text-align: center;
    cursor: default;
}

.social-media-icons {
    padding: 0.5vh;
    text-decoration: none;
}

.social-media-icons img {
    height: 2.5em;
    padding: 0.4vh;
}

@media only screen and (max-width: 600px) {
    .footer-contents {
        min-height: 10vh;
        font-size: 1em;
    }

    .social-media-icons {
        padding: 0.5vh;
        text-decoration: none;
    }
    
    .social-media-icons img {
        height: 6vh;
        padding: 1%;
    }
}

/********* HOME PAGE *********/

.buffer {
    display: flex;
    flex-wrap: wrap;
    padding: 2vh;
    justify-content: center;
    align-items: center;
}

.buffer img {
    padding: 1vh;
    border-radius: 10%;
}

.intro {
    padding: 1em;
    text-align: center;
    flex: 10%;
}

.about-me-row {
    width: 50%;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
}

.contact-me-button {
    background-color: white; 
    color: darkblue; 
    border: 1px solid darkblue;
    padding: 0.3em;
    font-family: 'Tektur', cursive;    
    font-size: 5vh;
    border-radius: 2%;
}

.contact-me-button:hover {
    background-color: #D8BFD8;
    border: 2px solid #D8BFD8;
    cursor: pointer;
    padding: 1.5vh;
}

.contact-me-button a {
    text-decoration: none;
}

.buffer p {
    text-align: left;
    cursor: default;
}

#intro-1 {
    font-family: 'Tektur', cursive;
    font-size: 5vh;
    color: darkblue;
    padding: 0;
}

#intro-2 {
    font-family: 'Raleway', sans-serif;
    font-size: 4vh;
    padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {

    .buffer {
        padding: 1vh;
        min-height: 80vh;
        display: inline-flex;
    }
    
    .buffer img {
        width: 70%;
    }

    .contact-me-button {
        font-size: 4vh;
    }

    .contact-me-button:hover {
        padding: 1.5vh;
    }
    
    #intro-1 {
        font-size: 4vh;
    }

    #intro-2 {
        font-size: 3vh;
    }
}

/* ABOUT ME SECTION */

.about-me {
    min-height: 40vh;
    text-align: center;
}

.about-me p {
    font-size: 3vh;
    cursor: default;
}

.quote {
    padding-top: 5vh;
    font-family: 'Lugrasimo', cursive;
    color: darkblue;
}

.author {
    padding-bottom: 2vh;
    font-family: 'Lugrasimo', cursive;
    color: darkblue;
}

.about-me-description {
    padding: 10px;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 30px;
    text-align: left;
}

.letter {
    color: black;
    padding-left: 5%;
    padding-right: 5%;
}

.about-me-letter {
    padding-top: 1vh;
    font-family: 'Fasthand', cursive;
}

@media only screen and (max-width: 600px) {
    .about-me p {
        font-size: 4vh;
    }
}

/********* PROJECTS PAGE *********/

.project-header {
    font-family: 'Tektur', cursive;
    color: darkblue;
    font-size: 30px;
    padding-top: 40px;
}

.project-header a {
    text-decoration: none;
}

.project-header a:hover {
    color: #D8BFD8;
    cursor: pointer;
}

.project-img {
    max-height: 50vh;
    max-width: 95%;
    border-radius: 5%;
    border: 2px solid darkblue;
}

.project-row {
    width: 90%;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: center;
    align-items: center;
}

.project-column {
    padding: 1vh;
    text-align: center;
    flex: 49%;
}

.project-column p {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 3.5vh;
    padding-bottom: 6vh;
    cursor: default;
}

/********* RESUME *********/

.buffer-resume {
    overflow: hidden;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;

    min-height: 60vh;
}

embed {
    width: 100%;
    height: 70vh;
}

@media only screen and (max-width: 800px) {
    embed {
        height: 20vh;
    }
}

/********* CONTACT *********/

.contact-me-section {
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5vh;
    justify-content: center;
    align-items: center;
}

.contact-me-quote {
    font-family: 'Playfair Display', serif;
    font-size: 15vh;
    color: darkblue;
    max-width: 80%;
}

.contact-me-box {
    text-align: center;
    padding: 2vh;
    display: flex;
}

.contact-me-icons {
    padding: 2.5vh;
    text-decoration: none;
}

.contact-me-icons li:hover {
    padding: 0.2vh;
}

.contact-me-icons li {
    list-style-type: none;
}

.contact-me-icons h1 {
    padding: 1.5vh;
    cursor: default;
}

.contact-me-icons img {
    height: 15%;
    padding: 1vh;
}

@media only screen and (max-width: 600px) {
    .contact-me-quote {
        font-size: 10vh;
        max-width: 80%;
    }

    .contact-me-icons img {
        height: 7vh;
    }
}
