@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@500&display=swap');

/**********************INDEX PAGE***********************/
* {
    margin: 0;
    transition: all .2s ease;
  }
  
  html {
    scroll-behavior: smooth;
    cursor: default;
  }
  
  .row {
    margin-right: 0;
  }
  
  /*NAVBAR*/
  #profile-image {
    cursor: default;
    border: 2px solid rgba(167, 130, 149, 0.3);
  }
    #profile-image:hover {
      backface-visibility: visible !important;
        animation: flip 2s ease;
    }
  
  .navbar {
    background-color: #3F2E3E;
  }
    .navbar-toggler {
      border: none;
    }
    .navbar-toggler:focus {
      box-shadow: none;
    }
    #navbar-item {
        font-size: 1.1em;
        font-weight: bold;
    }
  
  #second-navbar {
    background-color: #D8BFD8;
  }
  
  #second-navbar a {
    color: white;
  }
    #second-navbar a:hover {
      color: #3F2E3E;
    }
  
  /*HERO*/
  .parallax {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ),
      url("/img/home/hero-bg.jpg");
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #hero-section {
    color: white;
  }
  
  .hero-info {
    position: absolute;
    line-height: 35vh;
    width: 100%;
    text-align: center;
  }
  
  .hero-info img {
    border: 10px solid rgba(0, 0, 0, 0.3);
  }

  .hero-text {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 28vh;
  }
  
  .break {
    background-color: #3F2E3E;
    min-height: 5vh;
  }

  .name {
    font-family: 'Dancing Script', cursive;
    font-size: 6vh;
  }
  
  /*MISSION*/
  #mission-section {
    background-color: #EFE1D1;
    scroll-margin-top: 7.5vh;
    padding: 20px;
  }
  
  #mission-col {
    min-width: 50%;
    margin: auto;
  }
  
  #mission-row {
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  
  #carouselIndicators {
    border: 7px solid rgba(216, 191, 216, 0.3);
    margin-bottom: 20px;
  }

  .carousel-control-prev {
    background-color: #3F2E3E;
  }

  .carousel-control-next {
    background-color: #3F2E3E;
  }
  
  #mission-section h2 {
    color: #331D2C;
    font-weight: bold;
  }
  
  #description {
    padding-top: 15px;
  }
  
  /*SKILLS*/
  #skills-section {
    scroll-margin-top: 7.5vh;
    background-color: #331D2C;
  }
  
  #skills-section h2 {
    color: white;
    font-weight: bold;
  }
  
  .skills-icons {
    padding-top: 5vh;
  }
  
  .skills-icons i {
    font-size: 10vh;
    color: white;
  }
  
  #icons-row {
    padding: 15px;
    color: white;
  }
  
  .col-lg-3, .col-md-6, .col-s-12 {
    padding-bottom: 15px;
  }
  
  /*CONTACT*/
  #contact-section {
    background-color: #EFE1D1;
    scroll-margin-top: 7.5vh;
  }
  
  .contact-icons {
    padding: 5vh;
  }
  
  .contact-icons i {
    font-size: 5vh;
  }
  
  .contact-icons button {
    border: none;
  }
  
  .btn-outline-secondary {
    --bs-btn-color: black;
  }
  
  #contact-section h2 {
    color: #331D2C;
    font-weight: bold;
  }
  
  #contact-card {
    text-align: center;
  }
  
  /*RESUME*/
  #resume-section {
    padding: 2vh 0 2vh 0;
    background-color: #331D2C;
    scroll-margin-top: 7.5vh;
    color: white;
  }
  
  #resume-button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }
  
  #resume-btn a {
    text-decoration: none;
    color: white;
  }

  #resume-section h2 {
    font-weight: bold;
  }
  
  /*FOOTER*/
  #footer-section {
    background-color: #3F2E3E;
    scroll-margin-top: 7.5vh;
  }
  
  #footer-section p {
    margin: 0;
    color: white;
    line-height: 10vh;
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }
  
  /*ANIMATION*/
  @keyframes flip {
      0% {
          transform: perspective(400px) rotateY(0);
          animation-timing-function: ease-out;
      }
      40% {
          transform: perspective(400px) translateZ(150px) rotateY(170deg);
          animation-timing-function: ease-out;
      }
      50% {
          transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
          animation-timing-function: ease-in;
      }
      80% {
          transform: perspective(400px) rotateY(360deg) scale(.95);
          animation-timing-function: ease-in;
      }
      100% {
          transform: perspective(400px) scale(1);
          animation-timing-function: ease-in;
      }
  }
  
  @keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
  }
  
  /**********************PROJECTS PAGE***********************/
  /*GITHUB*/
  #github-section {
    scroll-margin-top: 7.5vh;
    width: 100%;
    text-align: center;
  }
  
  .github-info {
    background-color: #331D2C;
    color: beige;
    padding: 0;
  }

  #github-img-row {
    line-height: 17vh;
  }

  #github-section img {
    border: 10px solid #331D2C;
      transform: scale(1);
      transition: .3s ease-in-out;
  }
    #github-section img:hover {
      border: 10px solid rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
  
  #github-row {
    background-color: #331D2C;
  }
  
  .github-info p {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  #pill-btn {
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  #pill-btn a {
    text-decoration: none;
    color: black;
  }
  
  /*WEB*/
  #web-section {
    padding: 2vh 0 2vh 0;
    background-color: #EFE1D1;
    scroll-margin-top: 7.5vh;
  }
  
  .card {
    margin: 0 auto; 
    float: none;
    margin-bottom: 10px;
  }
    .card:hover {
        transform: scale(1.02);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.15);
    }
    
  /*JAVA*/
  #java-section {
    padding: 2vh 0 2vh 0;
    background-color: #EFE1D1;
    scroll-margin-top: 7.5vh;
  }

  /*DATABASE*/
  #database-section {
    padding: 2vh 0 2vh 0;
    background-color: #EFE1D1;
    scroll-margin-top: 7.5vh;
  }
  
  /*GAME*/
  #game-section {
    padding: 2vh 0 2vh 0;
    background-color: #EFE1D1;
    scroll-margin-top: 7.5vh;
  }
  
  
  /*MEDIA*/
  @media (max-width: 600px)  {
    .nav-link {
        text-align: center;
    }

    #second-navbar {
      display: none;
    }
  
    #backup-section {
      scroll-margin-top: 7.5vh;
      background-color: #3F2E3E;
      min-height: 5vh;
    }
  
    #backup-description {
      display: none;
    }
  
    #mission-row {
      flex-direction: column;
    }
  }
  
  @media (min-width: 600px)  {
    #backup-section {
      display: none;
    }
  
    #description {
      display: none;
    }
  }
  